name: Generate Snake Animation

on:
  schedule:
    - cron: "0 4 * * *" # runs once daily at 9:30 AM IST (4:00 AM UTC)
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Platane/snk@v3
        with:
          github_user_name: dharanidharansr
          outputs: dist/github-contribution-grid-snake.svg?color_snake=#A855F7&color_dots=#9BE9A8,#40C463,#30A14E,#216E39
      - name: Push changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate Snake Animation"
          add: "dist/github-contribution-grid-snake.svg"
